@import '~antd/dist/antd.css';
thead[class*="ant-table-thead"] th{
    font-size: large;
    color:aqua;
    background-color:white;
  }
  div[class*="ant-table-bordered"] {
 
  
  }
  div[class*="ant-table-container"] {
    box-shadow: 0ch;
    
   }
